# PyPI Configuration Template
# Copy this to ~/.pypirc and fill in your credentials
# DO NOT commit the actual .pypirc file with credentials!

[distutils]
index-servers =
    pypi
    testpypi

[pypi]
repository = https://upload.pypi.org/legacy/
username = __token__
password = <your-pypi-token>

[testpypi]
repository = https://test.pypi.org/legacy/
username = __token__
password = <your-testpypi-token>
